.catalog__books {
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  gap: 1em;
  background-color: #43464F;
  margin: 10px 5px;
  padding: 12px 44px;
  flex-wrap: wrap;
  height: 100%;
  border-radius: 5px;
}

.book-card {
  width: 150px;
  height: 200px;
  position: relative;
  text-align: center;
  margin-top: 1em;
}

.book-card__img {
  height: 100%;
  position: relative;
}

.book-card__img-foreground {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  position: absolute;
  background-color: #32343E;
  opacity: 90%;
  top: 150px;
}

.catalog__filter {
  background-color: #43464F;
  width: 100%;
  height: 100px;
  grid-column-start: 5;
  grid-column-end: 6;
  margin: 10px 5px;
  padding: 12px;
  border-radius: 5px;
}
